<custom-tooltip data-custom-tooltip="{{ context }}">
  <div class="custom-tooltip__inner" data-custom-tooltip-inner>
    <button class="custom-tooltip__close" data-custom-tooltip-close=""><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><title>icon-X</title><path d="m19 17.61 27.12 27.13m0-27.12L19 44.74"/></svg></button>
    <div data-custom-tooltip-title>{{ page_title }}</div>
    <div class="custom-tooltip__content" data-custom-tooltip-content>
    </div>
  </div>
</custom-tooltip>
